documen("rsvpForm").addEventListener
("submit", function(e) {
  e.preventDefault();

  const nama = document.getElementById("name").value;
  const email = document.getElementById("email").value;
  const hadir = document.getElementById("attendance").value
  ;
  
  const nomorWA = "628982660046"; // ganti nomor kamu

  const pesan =
    `Assalamu'alaikum,
Saya ingin konfirmasi kehadiran:

Nama: ${nama}
Email: ${email}
Kehadiran: ${hadir}`;

  const url = `https://wa.me/${nomorWA}?text
=${encodeURIComponent(pesan)}`;

  window.open(url, "_blank");
});
